# PYTHON

### CASO 1

<u>CASO 1</u>

In [8]:
num = 20
type(num)

int

In [9]:
num_1 = 20.0
type(num_1)

float

In [10]:
cad = 'cad'
type(cad)

str

In [11]:
boolean = True
type(boolean)

bool

In [19]:
lista_1 = [1,2,3,'hola mundo',True]
type(lista_1)

list

In [21]:
lista_1[0:3]

[1, 2, 3]

In [22]:
lista_1[3]

'hola mundo'

In [23]:
lista_1[-1]

True

In [25]:
lista_1+lista_1

[1, 2, 3, 'hola mundo', True, 1, 2, 3, 'hola mundo', True]

In [26]:
lista_1.append('mp3')

In [27]:
lista_1

[1, 2, 3, 'hola mundo', True, 'mp3']

In [35]:
dictionary = {1:lista_1,2:'b',3:'c'}
dictionary

{1: [1, 2, 3, 'hola mundo', True, 'mp3'], 2: 'b', 3: 'c'}

In [38]:
dictionary[1]

[1, 2, 3, 'hola mundo', True, 'mp3']

In [41]:
set_1 = set(lista_1)
type(set_1)

set

In [42]:
set_1 #los elementos dentro de un conjunto no se repiten

{1, 2, 3, 'hola mundo', 'mp3'}

In [44]:
lista_1 #elimina el #1 porque el TRUE = 1

[1, 2, 3, 'hola mundo', True, 'mp3']

In [45]:
str_1 = 'hola mundo' #tokenización: separar por unidades

In [48]:
str_1.split(' ') #tokenización por espacios

['hola', 'mundo']

In [49]:
str_1 #es por defecto una lista de char

'hola mundo'

In [57]:
for letra in str_1:
    print letra

h
o
l
a

m
u
n
d
o

In [58]:
type(2)

int

In [59]:
type('2')

str

In [60]:
num = 12

In [62]:
int(str(num))

12

### First Exercise

In [ ]:
# dado un número entero de 4 cifras ¿devuelve la suma de sus digitos y el producto?

In [87]:
num = 1001
num_s = str(num)
suma_2 = 0
prod_2 = 1
for i in num_s:
    suma_2 += int(i)
    prod_2 *=int(i)
print suma_2, prod_2

2 0

### Second Exercise

In [97]:
def mifunction(num):
    s = 0;
    p = 1;
    for i in str(num):
        s += int(i)
        p *= int(i)
        
    return s, p

In [98]:
mifunction(1002)

(3, 0)

In [99]:
l = ['hola','mundo']

In [109]:
len(l)

2

In [110]:
range(len(l))

[0, 1]

In [111]:
l[i]

'mundo'

In [112]:
x = []
for i in range(len(l)):
    print l[i]

hola
mundo

In [103]:
"".join(l)

'holamundo'

In [104]:
" ".join(l)

'hola mundo'

In [ ]:
# megabytes, kilobytes, bytes

In [118]:
def convertidor(num):
    mega = num*1024
    kilo = num*1024**2
    byte = num*1024**3
    
    return mega, kilo, byte

In [119]:
convertidor(1)

(1024, 1048576, 1073741824)

In [122]:
#escribir una funcion que tenga como 
#entrada dos numeros enteros el primero inicio y fin.
#Debe retornar todos los números divisiboles por 7 pero que no son múltiplos de 5
#la salida debe ser un string de los números separados por comas

In [143]:
def myf(a,b):
    values = range(a,b)
    cadena = ""
    for i in values:
        if i%7 == 0 and i%5 != 0:
            cadena += str(i)+" "
            
    print cadena, type(cadena)

In [144]:
myf(1000,2000)

1001 1008 1022 1029 1036 1043 1057 1064 1071 1078 1092 1099 1106 1113 1127 1134 1141 1148 1162 1169 1176 1183 1197 1204 1211 1218 1232 1239 1246 1253 1267 1274 1281 1288 1302 1309 1316 1323 1337 1344 1351 1358 1372 1379 1386 1393 1407 1414 1421 1428 1442 1449 1456 1463 1477 1484 1491 1498 1512 1519 1526 1533 1547 1554 1561 1568 1582 1589 1596 1603 1617 1624 1631 1638 1652 1659 1666 1673 1687 1694 1701 1708 1722 1729 1736 1743 1757 1764 1771 1778 1792 1799 1806 1813 1827 1834 1841 1848 1862 1869 1876 1883 1897 1904 1911 1918 1932 1939 1946 1953 1967 1974 1981 1988  <type 'str'>

In [160]:
def function_2(inicio, fin):
    lista_1 = []
    for i in range(inicio, fin):
        if i%7 ==0 and i%5!=0:
            lista_1.append(str(i))
    return ", ".join(lista_1)

In [161]:
function_2(1000,2000)

'1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988'

In [ ]:
# Escriba una función que tenga como entrada una cadena de palabras separadas
# por espacio, 'hola mundo' y que retorne la frecuencia de cada una de las palabras
# y la salida debe estar ordenada alfabeticamente

In [162]:
lista_2 = [1,2,3,4,-1]

In [163]:
sorted(lista_2)

[-1, 1, 2, 3, 4]

In [166]:
lista_2.sort() #in_place

In [167]:
lista_2

[-1, 1, 2, 3, 4]

In [169]:
l_1 = [1,2,3,4]
l_2 = ['a','b','c']

In [170]:
zip(l_1,l_2) #asociación de listas por relación

[(1, 'a'), (2, 'b'), (3, 'c')]

In [221]:
def function_3(comentario):
    lista = comentario.lower().split()    
    lista_2 = sorted(set(lista))
    lista_3 = []
    
    for i in lista_2:
        lista_3.append(lista.count(i))    
    
    print(zip(lista_2,lista_3))

In [222]:
c = 'Hola hola hola mundo cruel a b'

In [223]:
function_3(c)

[('a', 1), ('b', 1), ('cruel', 1), ('hola', 3), ('mundo', 1)]

In [231]:
def functionContar(entrada):
    d = {}
    s = entrada.lower().split()    
    s = sorted(s)
    
    for i in s:
        if i in d.keys():
            d[i] +=1
        else:
            d[i] = 1
    
    return list(zip(d.keys(),d.values()))

In [233]:
functionContar(c)

[('a', 1), ('cruel', 1), ('b', 1), ('mundo', 1), ('hola', 3)]